@model IEnumerable<Task_Management_System2.Areas.Admin.Models.NewProject>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>All Task</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        .table tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        .table tbody tr:nth-child(even) {
            background-color: #ffffff; 
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Assigned Projects</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Project Id</th>
                        <th>Project Name</th>
                        <th>Project Description</th>
                        <th>Start Date</th>
                        <th>Modified Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProjectId</td>
                            <td>@item.ProjectName</td>
                            <td>@item.ProjectDescription</td>
                            <td>@item.StartDate</td>
                            <td>@item.ModifiedDate</td>
                            <td>@item.EndDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>